// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.prod_det_box1{
  width:470px;
  padding:0 0 0 15px;
  position:relative;
}
.box_top1{
  width:470px;
  height:9px;
  background:url(box_top.gif) no-repeat center bottom;
}
.box_center1{
  width:470px;
  height:auto;
  background:url(box_center.gif) repeat-y center;
}
.box_bottom1{
  width:470px;
  height:9px;
  background:url(box_bottom.gif) no-repeat center top;
}
