<p>您好！ <%= @resource.email %>!</p>

<p>草莓时光网收到您修改登录密码的申请，如果是您本人的操作，请点击下面的链接，确认来确认修改：</p>

<p><%= link_to '修改我的密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您并没有申请此操作，请忽略此邮件。</p>
<p>您的登录密码不会改变，直到您访问上面的链接，并新建登录密码。</p>

